.card  {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
}

.card .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card .card-body .card-title {
    margin-bottom: 0.75rem;
    float: none !important;
}

.card .card-body .card-title-desc {
    margin-top: 0;
    margin-bottom: 1rem;
}

.form-photo.thumbnail {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
}

.form-photo {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ced4da;
}

.form-photo .photo {
    height: 100%;
    width: 100%;
}

.form-photo .form-control-file {
    display: none;
}

 .form-photo .uploadBtn {
    height: 50px;
    width: 200px;
    position: absolute;
    text-align: center;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #eee;
    line-height: 45px; 
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400 !important;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: none;
 }

.form-control:focus {
    border-color: #ffae00 !important;
}

.btn-confirm-form {
    color: #3d2900;
    background-color: #ffae00;
    border-color: #ffae00;
    box-shadow: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-confirm-form:hover {
    color: #fff;
}

.card .card-body .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.card .card-body .input-group-lg>.form-control {
    height: calc(2.645rem + 2px);
    font-size: 1rem;
    padding-top: 0.33rem;
    padding-bottom: 0.33rem;
}

.card .card-body .input-group>.form-control {
    min-height: calc(2.08rem + 2px);
    height: calc(2.08rem + 2px);
    padding-top: 0.27rem;
    padding-bottom: 0.27rem;
    transition: all .2s linear;
    position: relative;
    flex: 1 1 auto;
    width: 1% !important;
    min-width: 0;
}

.card .card-body .input-group .form-control {
    border-color: transparent;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #4f4f4f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: all .2s linear;
}

.card .card-body .form-control.form-control-lg {
    line-height: 2.15;
    border-radius: 0.25rem;
}

.card .card-body .input-group .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #4f4f4f;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #bdbdbd;
    border-radius: 0.3rem;
}

.search-body {
    position: relative;
    margin: 30px 0px 30px 0px;
}

.search-body .search-group {
    max-height: 50px;
    border: thin solid #eee;
    background: #fff;
    width: 100%;
    padding: 5px 70px 5px 30px;
    font-size: 18px;
    color: #666;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: top;
    overflow: hidden;
}

.search-body .search-group .form-control {
    font-size: 14px;
    color: #333;
    background-color: transparent;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: baseline;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;
    width: 100%;
}

.search-body .search-group .btn-search {
    width: 70px;
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.search-body .search-group .btn-search .input-group-text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffae00;
    margin: 0;
    font-size: 14px;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.card .card-body .table {
    font-size: 14px;
    color: #3d2900 !important;
}

.card .card-body .table thead {
    height: 70px;
}

.card .card-body .table td,
.card .card-body .table th {
    border-bottom: 1px solid rgb(61, 41, 0, 0.05) !important;
    padding-bottom: 10px;
}

.card .card-body .table td,
.card .card-body .table th {
    border-top: none !important;
}

.card .card-body .table-striped tbody tr:last-child > td {
    border-bottom: none !important;
}

.card .card-body .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255, 174, 0, 0.03);
}

.card .card-body .table-striped tbody tr:hover {
    background-color: rgb(255, 174, 0, 0.1) !important;
}

@media (max-width: 767px) {
    .card .card-body {
        padding: 10px;
    }

    .card .card-body .table-body {
        max-width: 100vh;
        overflow-x: scroll;
    }

    .card .card-body .table-body .table {
        width: 1024px;
    }
}

.card .card-body .modal-header .close {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 20px;
}

.card .card-body .modal-body {
    background-color: #f4f6f9;
    border-radius: 1rem;
}

.card .card-body .modal-body .container-trans {
    padding: 25px 32px;
    background-color: #fff;
    margin-bottom: 8px;
}

.card .card-body .modal-body .container-trans .body-trans {
    border-bottom: thin solid #eee;
    padding: 0px 0px 13px;
    margin: 0px 0px 12px;
}

.card .card-body .modal-body .container-trans .body-trans:last-child {
    border-bottom: none;
}

.card .card-body .modal-body .container-trans .body-trans .main-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-body .modal-body .container-trans .body-trans .main-text {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 0.857143rem;
    line-height: 18px;
    color: rgba(49,53,59,0.68);
    text-decoration: initial;
    margin: 0px;
}

.card .card-body .modal-body .container-trans .body-trans .main-text-desc {
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    color: #3d2900;
    margin: 0px;
}

.card .card-body .modal-body .container-trans .body-trans .product-card {
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E7E9;
    background-color: #FFFFFF;
    cursor: default;
    margin: 0px 0px 8px;
}

.card .card-body .modal-body .container-trans .body-trans .product-card .product-section {
    padding: 16px;
    display: flex;
    align-items: stretch;
}

.card .card-body .modal-body .container-trans .body-trans .product-card .product-section .wrapper-product {
    padding-right: 15px;
    width: 70%;
}

.card .card-body .modal-body .container-trans .body-trans .product-card .product-section .wrapper-product .product-info {
    display: flex;
    align-items: center;
}

.card .card-body .modal-body .container-trans .body-trans .product-card .product-section .wrapper-product .product-info img {
    border-radius: 6px;
    margin: 0px 13px 0px 0px;
    width: 50px;
}

.card .card-body .modal-body .container-trans .body-trans .product-card .product-section .wrapper-price {
    width: 30%;
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border-left: thin dashed #E5E7E9;
}

.card .card-body .modal-body .container-trans .body-trans .product-card .product-section .wrapper-price .total-price {
    width: 100%;
    text-align: right;
}

.card .card-body .modal-body .container-trans .body-trans .product-card .product-section .wrapper-price .total-price .price-heading {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 0.857143rem;
    line-height: 18px;
    color: rgba(49,53,59,0.68);
    text-decoration: initial;
    margin: 0px 0px 2px;
}

.card .card-body .modal-body .container-trans .body-trans .product-card .product-section .wrapper-price .total-price .main-price {
    display: block;
    position: relative;
    font-weight: 700;
    font-family: "Nunito Sans", -apple-system, sans-serif;
    font-size: 1rem;
    line-height: 20px;
    color: rgba(49,53,59,0.96);
    text-decoration: initial;
    margin: 0px;
}

.invoice-container {
    width: auto;
    margin: auto;
    padding: 20px;
    max-width: 800px;
}

@media screen and (max-width: 430px) {
    .invoice-container {
        width: 844px;
        margin: auto;
        padding: 20px;
        max-width: none;
        transform: scale(0.5) translate(-50%,-47%);
    }
}

.invoice-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.invoice-header div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.invoice-header div:last-child h4 {
    letter-spacing: 2px;
}

.text-invoice {
    display: block;
    position: relative;
    font-weight: 800;
    font-family: "Open Sauce One",-apple-system,BlinkMacSystemFont,Roboto,sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-decoration: initial;
    margin: 0;
}

.invoice-header div:last-child span {
    color: #3d2900;
    font-size: 0.8571428571428571rem;
    font-weight: 500;
}

.invoice-recipient {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: end;
    margin-bottom: 25px;
}

.invoice-recipient > div {
    min-width: 30%;
    max-width: 40%;
}

.invoice-recipient .section-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.invoice-recipient .section-wrapper p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

.invoice-recipient .section-wrapper .header::before {
    content: '';
}

.invoice-recipient .section-wrapper p::before {
    content: ': ';
    font-weight: normal;
}

.invoice-recipient .section-wrapper > span {
    color: rgba(49,53,59,0.68);
    line-height: 20px;
    width: 115px;
    min-width: 115px;
    font-size: 0.8571428571428571rem;
}

.invoice-item .item-header {
    padding: 18px 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border: 2px solid #31353B;
    border-left: none;
    border-right: none;
}

.invoice-container .course-name {
    width: 70%;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color: #31353B;
    font-size: 14px;
}

.invoice-container .course-price {
    width: 30%;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #31353B;
    font-size: 14px;
}

.invoice-item .item-body:last-child {
    border-bottom: thin solid #e5e7e9;
}

.item-body .item-product {
    border-bottom: 1px solid #e5e7e9;
}

.item-body .item-product:last-child {
    border-bottom: none;
}

.item-product .section-product {
    padding: 14px 16px;
    display: flex;
    align-items: flex-start;
}

.invoice-container .section-product .course-name .heading {
    display: inline-block;
    position: relative;
    font-weight: 500;
    line-height: 20px;
    color: #3d2900;
    font-size: 14px;
    letter-spacing: 0.1px;
    text-decoration: none;
    margin: 0;
}

.invoice-container .section-product .course-price .heading {
    display: block;
    position: relative;
    font-weight: 400;
    line-height: 20px;
    color: #343030;
    font-size: 14px;
    letter-spacing: 0.1px;
    text-decoration: initial;
    margin: 0;
}

.invoice-price {
    display: block;
    margin: 20px 0 20px auto;
    width: 47%;
}

.invoice-price .total-amount {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 16px 8px 0px;
    -webkit-box-align: center;
    align-items: center;
}

.invoice-price .total-amount h6 {
    text-transform: uppercase;
}

.invoice-price .total-amount h6, .invoice-price .total-amount h5 {
    color: #343030;
    font-weight: bold;
}

.invoice-bottom {
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
    border-top: 1px solid #e5e7e9;
}

.invoice-bottom .heading {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-decoration: initial;
    margin: 0;
    color: rgba(49,53,59,0.96);
}

.page-item.active .page-link {
    z-index: 3;
    color: #3d2900 !important;
    background-color: #ffae00 !important;
    border-color: #ffae00 !important;
}

.page-link {
    color: #3d2900 !important;
}

/* certificate */

.certificate-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cerificate-img {
    display: inline-block ;
}

.certificate-id {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 3px;
}

.certificate-id span {
    color: #4f4f4f;
}

.certificate-id p {
    font-weight: bold;
    margin-top: -5px;
}